<launch>
  <!-- Arguments this launch gazebo, bringup robot state publisher, rviz -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, cartographer_gazebo, hector, karto, frontier_exploration]"/>
  <arg name="configuration_basename" default="turtlebot3_lds_2d_gazebo.lua"/>
  <arg name="open_rviz" default="true"/>
 <param name="/use_sim_time" value="true"/>

<arg name="multi_robot_name" default=""/>

  <!-- TurtleBot3 load up urdf to /robot_description
-->

  <param name="robot_description"
    textfile="/home/student/Documents/cartographer/urdf/turtlebot3_3d_test.urdf" />


  <!-- both robot_state_publisher and joint_state_publisher needed to publish the whole tf tree. without 
joint_state_publisher, revolute joint will not be in tf tree 
-->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value="$(arg multi_robot_name)"/>
  </node>
<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
<node pkg="tf" type="static_transform_publisher" name="odomtobase" args="0 0 0 0 0 0 odom base_link 100"/>
  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(env HOME)/Documents/cartographer/turtlebot3_slam/rviz/turtlebot3_house.rviz"/>
  </group>

</launch>
