<!--
  p3at topics from mavros_realsense_short.bag:
	/camera/imu 
		#gravitiy -9.xx around y-axis due to lidar position
	/camera/depth/image_rect_raw 
		frame_id: camera_depth_optical_frame
		
	/mavros/imu/data 
		frame_id: base_link
		# gravity 9.xx at z-axis

  depth_pt2_node:
	sub: /camera/depth/image_rect_raw    frame_id: camera_depth_optical_frame
	pub: /camera/depth/points2
    <remap from="points2" to="/camera/depth/points2" />
    <remap from="imu" to="/mavros/imu/data" />
<remap from="points2" to="horizontal_laser_3d" />
-->

<launch>
   <arg name="open_rviz" default="true"/>
  <param name="/use_sim_time" value="true" />
  <param name="robot_description"
    textfile="/home/student/Documents/cartographer/urdf/p3at_3d_90deg.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory /home/student/Documents/cartographer/configuration_files
          -configuration_basename p3at_3d.lua"
      output="screen">
    <remap from="points2" to="/camera/depth/points2" />
    <remap from="imu" to="/mavros/imu/data" />

  </node>
<group if="$(arg open_rviz)">

<node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(env HOME)/Documents/cartographer/configuration_files/p3at_3d.rviz" />
</group>
  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />
</launch>
