<launch>
	<arg name="cartover" default="1.0.0"/>
 <group if="$(eval cartover == '1.0.0')">
	<node pkg="tf" type="static_transform_publisher" name="ned_to_enu_pub" args="0 0 0 1.57 0 3.14 base_link imu_link 100"/>
	<node pkg="tf" type="static_transform_publisher" name="ned_to_enu_pub2" args="0 0 0 1.57 0 3.14 base_footprint imu_link 100"/>
</group>

</launch>
